.creation-container {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 100px;
  width: 100%;
}

.creation-container > section {
  background-color: white;
  display: flex;
}

.creation-container form {
  display: flex;
  flex-direction: column;
}
