* {
  padding: 0;
  margin: 0;
}

#profile-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

#profile-container > * {
  height: 100%;
}

.profile-header {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
}

.profile-header p {
  width: fit-content;
}

li {
  list-style: none;
}

.profile-decks-container {
  width: 65%;
}
