* {
  padding: 0;
  margin: 0;
}

#profile-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

#profile-container > * {
  height: 100%;
}

.profile-header {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0;
}

.profile-header p {
  width: fit-content;
}

.profile-header img {
  border-radius: 50%;
}

.profile-header > * {
  margin: 10px;
}

li {
  list-style: none;
}

.profile-decks-container {
  width: 65%;
  padding: 30px 20px;
}

ul.decks-list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 0px;
}

.decks-list > li {
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px;
}

.nav-list {
  display: grid;
  row-gap: 20px;
  padding: 20px;
}
